<div class="line"></div>

<article id="article1">
  <h2 id="home-title">Car Pooling</h2>
  <div class="line"></div>
  <div class="article-body clear">
    <figure>
      <img src="https://images.pexels.com/photos/210019/pexels-photo-210019.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
           width="620" height="340">
    </figure>
    <br>
    <p>
      Carpooling (also car-sharing, ride-sharing and lift-sharing) is the sharing of car journeys so that more
      than one person travels in a car, and prevents the need for others to have to drive to a
      location themselves.
    </p>
    <p>
      By having more people using one vehicle, carpooling reduces each person's travel costs such as: fuel costs,
      tolls, and the stress of driving. Carpooling is also a more environmentally friendly and sustainable way to
      travel as sharing journeys reduces air pollution, carbon emissions, traffic congestion on the roads, and the
      need for parking spaces.
    </p>
    <br>
    <br>
    <div class="register-login-buttons">
      <a class="submit-button" id="register-button" value="Register" href="<%= new_user_path %>">
        Sign Up
      </a>
      <a class="submit-button" id="login-button" value="Log In" href="<%= new_session_path %>">
        Sign In
      </a>
    </div>
  </div>
</article>